<nav>
  <div class="site-title">
    <a href="/">
      <h1>Library Management System Using AWS</h1>
    </a>
    <p>Great Library of Alexandria</p>
  </div>
  <ul>
    <li><a href="/">Books</a></li>
    <li><a href="/about">Users List</a></li>
    <li><a href="/blogs/create">Add a new Book</a></li>
  </ul>
</nav>